@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Cadastrar categoria</h1>
<form method="post" action="/Categoria/Cadastrar">

    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" class="form-control" name="descricao" id="descricao" maxlength="50">
    </div>

    <button class="btn btn-primary" href="https://localhost:7215/Categoria">
        Voltar
    </button>
    <button type="submit" class="btn btn-primary">
        Salvar
    </button>

</form>