<div id="container" class="containerCategoria">
    <div class="container1Categoria">
        <div>
            <a class="btn btn-success" href="https://localhost:7215/Categoria/Create"> Novo </a>
        </div>
    </div>
    <div class="container2Categoria">
        <table class="TableContainerCategoria">
            <thead class="theadCategoria">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>


                @foreach (var item in ViewBag.Categorias)
                {
                    <tr>
                        <td class="tdCategoria">@item.codigo</td>
                        <td class="tdCategoria">@item.descricao</td>
                        <td class="tdCategoria">
                            <div class="IconesContainerCategoria">
                                <div class="lixo">
                                    <img src="/imagem/trash3.svg" alt="Excluir" />
                                </div>
                                <button class="Edit"><img src="/imagem/pencil-square.svg" alt="Editar" /></button>
                                
                            </div>
                        </td>
                    </tr>
                }

            </tbody>


        </table>
    </div>
    <div class="container3Categoria">
        <div>
            <a class="btn btn-success" href="https://localhost:7215/"> Voltar </a>
        </div>
    </div>
</div>


