<div id="container" class="containerEntrada">
    <div class="container1Entrada">
        <div>
            <button class="btnEntrada">
                Novo
            </button>
        </div>
    </div>
    <div class="container2Entrada">
        <table class="TableContainerEntrada">
            <thead class="theadEntrada">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>


                @foreach (var item in ViewBag.Entradas)
                {
                    <tr>
                        <td class="tdEntrada">@item.codigo</td>
                        <td class="tdEntrada">@item.descricao</td>
                        <td class="tdEntrada">
                            <div class="IconesContainerEntrada">
                                <div class="lixo">
                                    <img src="/imagem/trash3.svg" alt="Excluir" />
                                </div>
                                <button class="Edit"><img src="/imagem/pencil-square.svg" alt="Editar" /></button>
                                
                            </div>
                        </td>
                    </tr>
                }

            </tbody>


        </table>
    </div>
    <div class="container3Entrada">
        <div>
            <button class="btnEntrada BtnAzulColorEntrada">
                Voltar
            </button>
        </div>
    </div>
</div>
